{{ define "main" }}
<div class="content-max-width" style="display: flex;">
  {{ partial "sidebar.html" (dict
        "context" .
        "disableSidebar" true
        "displayPlaceholder" false
    ) }}
  <div style="min-width: 0; flex: 1; padding: 2rem 1.5rem;">
  <div class="content-narrow">
    <article class="hx:w-full">
      <div class="content">
        {{ if .Title }}<h1>{{ .Title }}</h1>{{ end }}
        {{ .Content }}
      </div>
      {{ $pages := .Pages }}
      {{ $cardClass := "hextra-card hx:group hx:flex hx:flex-col hx:justify-start hx:overflow-hidden hx:rounded-lg hx:border hx:border-gray-200 hx:text-current hx:no-underline hx:shadow-sm hx:transition-all hx:duration-200 hover:hx:border-gray-300 hover:hx:bg-slate-50 hover:hx:shadow-md dark:hx:border-neutral-800 dark:hover:hx:border-neutral-700 dark:hover:hx:bg-neutral-900" }}
      {{ $iconClass := "hextra-card-icon hx:flex hx:font-semibold hx:items-start hx:gap-2 hx:p-4 hx:text-gray-700 hover:hx:text-gray-900 dark:hx:text-neutral-200 dark:hover:hx:text-neutral-50" }}

      <div class="hextra-cards hx:mt-8 hx:gap-4 hx:grid not-prose" style="--hextra-cards-grid-cols: 1;">
        {{ range $pages }}
          <a class="{{ $cardClass }}" href="{{ .Permalink }}">
            <span class="{{ $iconClass }}">{{ .Title }}</span>
          </a>
        {{ end }}
      </div>
    </article>
  </div>
  </div>
</div>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": "{{ urls.AbsLangURL "directions" }}",
        "name": {{ i18n "directions" | jsonify }},
        "url": "{{ urls.AbsLangURL "directions" }}"
      }
    ]
  }
</script>
{{ end }}
