{{ define "main" }}
<div class="content-max-width" style="display: flex;">
  {{ partial "sidebar.html" (dict
        "context" .
        "disableSidebar" true
        "displayPlaceholder" false
    ) }}
  <div style="min-width: 0; flex: 1; padding: 2rem 1.5rem;">
  <div class="content-narrow">
    <article class="hx:w-full">
      {{ partial "breadcrumb.html" (dict "page" .) }}
      <div class="content">
        {{ if .Title }}<h1>{{ .Title }}</h1>{{ end }}
        {{ .Content }}
      </div>
    </article>
  </div>
  </div>
</div>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": "{{ urls.AbsLangURL "stations" }}",
        "name": {{ i18n "stations" | jsonify }},
        "url": "{{ urls.AbsLangURL "stations" }}"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": "{{ .Permalink }}",
        "name": {{ .Title | jsonify }},
        "url": "{{ .Permalink }}"
      }
    ]
  }
</script>
{{ end }}
