{{ $lang := .Site.Language.Lang }}

{{ $translations := dict
    "ru" (dict
        "unknown_station" "Неизвестная станция"
        "show_stations" "Показать названия станций"
    )
    "en" (dict
        "unknown_station" "Unknown station"
        "show_stations" "Show station names"
    )
    "ka" (dict
    "unknown_station" "უცნობი სადგური"
    "show_stations" "სადგურთა სახელების ნახვა"
    )
}}

{{ $t := index $translations $lang }}

<div class="route-map-container">
    <div id="route-map" data-route-ref="{{ .Params.ref }}" style="height: 400px; width: 100%; margin-top: 10px;"></div>
</div>

<script type="module">
    import SimpleRouteMap from '/js/components/map/SimpleRouteMap.js';
    const routeRef = document.getElementById('route-map').dataset.routeRef;
    const map = new SimpleRouteMap('route-map', routeRef);
    map.initialize();
</script>