{{ $lang := .Get 0 }}

<p>{{ .Page.Params.description }}</p>

{{ partial "station-map.html" . }}

{{ if .Page.Params.routes.departure }}
<h2>Departures</h2>
    {{ range .Page.Params.routes.departure }}
    {{ .ref }} {{ .name_en }} <br>
    {{ end }}
{{ end }}

{{ if .Page.Params.routes.arrival }}
<h2>Arrivals</h2>
    {{ range .Page.Params.routes.arrival }}
    {{ .ref }} {{ .name_en }} <br>
    {{ end }}
{{ end }}

{{ if .Page.Params.routes.via }}
<h2>Stops</h2>
    {{ range .Page.Params.routes.via }}
    {{ .ref }} {{ .name_en }} <br>
    {{ end }}
{{ end }}
