{{ $lang := .Get 0 }}

{{ $translations := dict
    "ru" (dict
        "departures" "Отправление"
        "arrivals" "Прибытие"
        "stops" "Останавливаются"
        "back_to_map" "Вернуться на карту поездов"
    )
    "en" (dict
        "departures" "Departures"
        "arrivals" "Arrivals"
        "stops" "Stops"
        "back_to_map" "Back to the entire routes map"
    )
    "ka" (dict
    "departures" "გამგზავრება"
    "arrivals" "ჩამოსვლა"
    "stops" "ჩერდება"
    "back_to_map" "მარშრუტთა რუკაზე დაბრუნება"
)
}}

{{ $t := index $translations $lang }}

<div class="station-page-description">{{ index .Page.Params.description $lang | markdownify }}</div>

{{ partial "station-map.html" . $lang }}

<div class="station-page-content">
{{ if .Page.Params.routes.departure }}
<h2>{{ $t.departures }}</h2>
    {{ range sort .Page.Params.routes.departure "time" }}
    {{ $url := printf "%s/routes/%v/" (cond (eq $lang "ru") "/ru" (cond (eq $lang "ka") "/ka" "")) .ref }}
    <a href="{{ $url }}" class="station-route">
        <span class="station-route-time">{{ .time }}</span>
        <span class="station-route-ref">{{ .ref }}</span>
        <span class="station-route-name">{{ if eq $lang "ru" }}{{ .name_ru }}{{ else if eq $lang "ka" }}{{ .name_ka }}{{ else }}{{ .name_en }}{{ end }}</span>
    </a>
    {{ end }}
{{ end }}

{{ if .Page.Params.routes.arrival }}
<h2>{{ $t.arrivals }}</h2>
    {{ range sort .Page.Params.routes.arrival "time" }}
    {{ $url := printf "%s/routes/%v/" (cond (eq $lang "ru") "/ru" (cond (eq $lang "ka") "/ka" "")) .ref }}
    <a href="{{ $url }}" class="station-route">
        <span class="station-route-time">{{ .time }}</span>
        <span class="station-route-ref">{{ .ref }}</span>
        <span class="station-route-name">{{ if eq $lang "ru" }}{{ .name_ru }}{{ else if eq $lang "ka" }}{{ .name_ka }}{{ else }}{{ .name_en }}{{ end }}</span>
    </a>
    {{ end }}
{{ end }}

{{ if .Page.Params.routes.via }}
<h2>{{ $t.stops }}</h2>
    {{ range sort .Page.Params.routes.via "time" }}
    {{ $url := printf "%s/routes/%v/" (cond (eq $lang "ru") "/ru" (cond (eq $lang "ka") "/ka" "")) .ref }}
    <a href="{{ $url }}" class="station-route">
        <span class="station-route-time">{{ .time }}</span>
        <span class="station-route-ref">{{ .ref }}</span>
        <span class="station-route-name">{{ if eq $lang "ru" }}{{ .name_ru }}{{ else if eq $lang "ka" }}{{ .name_ka }}{{ else }}{{ .name_en }}{{ end }}</span>
    </a>
    {{ end }}
{{ end }}
</div>

<p>🗺 <a href='/{{ $lang }}/'>{{ $t.back_to_map }}</a></p>